.mobile-main {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
  max-width: 420px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.intro-img {
  display: block;
  width: 100%;
  margin: 40px 10px 30px 10px;
}

.mobile-products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  justify-content: center;
  align-items: start;
}

.mobile-product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mobile-product-link {
  text-decoration: none;
  color: inherit;
}

.mobile-product-img {
  width: 195px;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

.mobile-product-title {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: bold;
}

.mobile-product-names {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.mobile-product-name {
  font-size: 14px;
  margin: 5px 0 23px 0;
  padding: 0;
}

.detail-img {
  width: 100vw;
  height: auto;
  display: block;
  margin: 0;
}