main {
  position: relative;
}

/* 필요한 다른 굵기도 같은 방식으로 추가할 수 있습니다. */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0;
  text-align: center;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
  font-size: 32px;
}

.light {
  font-weight: 300;
}

.home_row {
  position: fixed;
  top: 0;
  left: 50%;
  width: 1440px;
  background-color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  /* gap: 207px; */
  justify-content: space-between;
  height: 120px;
  transform: translateX(-50%);
}

.home_photo {
  width: 340px;
  height: auto;
}

.home_0 {
  width: 1190px;
  height: 842px;
  margin-top: 127px;
  margin-bottom: 121px;
}

.home_1 {
  width: 1440px;
  height: auto;
  margin-top: 55px;
}

.home_2 {
  width: 1440px;
  height: auto;
}

.insta-link {
  text-decoration: none;
  font-size: 32px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.insta-link-wrapper {
  width: 126px;
  height: 49px;
  background: none;
  border: 1.5px solid rgba(56, 56, 56, 0.2);
  border-radius: 24.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}