html, body, #root {
  height: 100%;
  margin: 0;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-img {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 352px;
  height: 352px;
  object-fit: cover;
  z-index: -1; /* 텍스트와 버튼 위로 */
}

/* 중앙 컨텐츠 묶기 */
.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;;
  font-size: 60px;
  font-weight: 500;
  color: #a4a4a4;
  text-align: center;
  line-height: 1.05;
}

.enter-btn {
  width: 162px;
  height: 46px;
  background-color: #0037FF;
  color: #F1F1F1;
  border: none;
  border-radius: 68px;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.enter-btn:hover {
  background-color: #002ECC;
}

.bottom-text {
  position: absolute;
  bottom: 136px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: 500;
  color: #a4a4a4;
  text-align: center;
}

a {
  text-decoration: none;
}
