html, body, #root {
  height: 100%;
  margin: 0;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
} 

.main-container {
  width: 100%;
  height: 100vh;
  background-image: url("../public/images/main_page.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.banner-wrapper {
  width: 1291px;
  height: 114px;
  position: relative;
  margin: 0 auto 0 auto; 
  padding-top: 50px;
}

.top-banner {
  width: 1291px;
  height: 114px;
  display: block;
}
  
.banner-click-area {
  position: absolute;
  top: 73px;
  right: 59px;

  width: 220px;
  height: 67px;
  cursor: pointer;
  /* background: rgba(255, 0, 0, 0.3); */
}
  
.bottom-text {
  position: absolute;
  bottom: 136px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
}

a {
  text-decoration: none;
}
